@import "menüü.css";

body {
    background-color: powderblue;
    background-image: url('kontakt_taust.jpg');
    font-family: "Lato", sans-serif;
}
.menüülogo {
    width: 280px;
    height:240px;
}

.Mainpagelogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: auto 0px auto 50px;
    width: auto; height: auto;
    text-align: left;
    border: 10px inset #b71584;
    padding: 15px;
    background-color: #424242;
    border-radius: 10px 80px 30px 80px;
    box-shadow: 10px 10px 5px
    #0000003f;

}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    /*background:transparent; */
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
    
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
    
.sidebar a:hover {
    color: #f1f1f1;
}
    
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
 /* Menüü nupp */   
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}
    
.openbtn:hover {
    background-color: #444;
}
   
#main {
    transition: margin-left .5s;
    padding: 16px;
}
    
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

/* SIIT ALGAB KONTAKTIDE VORM--> */

* {
    box-sizing: border-box;
  }
  
  input[type=text], textarea {
    width: 50%;
    padding: 12px;
    border: 1px solid #b71584;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #b71584;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #8f1167;
  }
  
  .container {
    margin-left: 25%;
    border-radius: 5px;
    background-color: #f2f2f2ef;
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /*väiksema ekraani puhul */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }