/* Impordime men端端 css faili */
@import "men端端.css";

h1 {font-family: Brush Script MT;
    font-size: 350%;
    text-align: center;
}

html { 
    background: url('taustapilt.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

a {
    text-align: center}

.tutvustus {
    margin: auto;
    width: 60%; height: auto;
    border: 10px groove #b71584;
    border-radius: 30px 120px 50px 80px;
    padding: 10px;
    background-color: rgb(66, 66, 66);
}

.Mainpagelogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px rgba(34, 34, 34, 0.845));
}
