@import "menüü.css";

.tile {
    position: relative;
    width: 150px;
    cursor: default;
    margin-left: auto;
    margin-right: auto;
}
.cover {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 5px;
}
.desc {
    visibility: hidden;
    position: absolute;
    width: inherit;
    bottom: 20px;
    left: 10px;
    text-align: left;
    font-family: 'Arial';
    font-size: 22px;
    color: white;
}
.book-name {
    font-size: 18px;
    font-weight: bold;
    height: 10px;
    padding-bottom: 26px;
}
.book-author {
    font-size: 14px;
    height: 14px;
}
.book-genre {
    font-style: italic;
    font-size: 12px;
    color: #CCCCCC;
    height: 10px;
}
.price-label {
    position: absolute;
    font-size: 16px;
    font-family: 'Arial';
    text-align: center;
    background-color: #FFCC33;
    top: 8px;
    right: -16px;
    width: 40%;
    height: 28px;
    color: black;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}
.tag {
    position: absolute;
    top: 8px;
    left: 120px;
}
.grid {
    position: relative;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
.cell {
    width: 300px;
    height: 300px;
}
.grid-container {
    position: relative;
    background-image: linear-gradient(0.5turn, #40202030, #40203070);
    border-radius: 50px;
    left: 15%;
    width: 70%;
}
.order-button {
    visibility: hidden;
    position: absolute;
    top: 8px;
    left: 9px;
    border: none;
    border-radius: 10px;
    width: 60%;
    height: 28px;
    background-color: #FFCC33;
    font-size: 16px;
    font-family: 'Arial';
    font-weight: bold;
    cursor: pointer;
}
.order-button:hover {
    background-color: #202020;
    color: white;
}
body {
    background-image: url("taust.webp");
    background-size: 100%;
    background-repeat: no-repeat;
}